/* Separators (draggable dividers) */
.separator {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 0.25rem;

    &.vertical {
        width: 0.25rem;
        cursor: ew-resize;
    }

    &.horizontal {
        height: 0.25rem;
        cursor: ns-resize;
    }

    &:hover {
        background-color: #f3caff;
    }
}

/* The magical plane we drag across. */
.draggable-plane {
    position: absolute;
    z-index: 999999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
