/* Tabs on the site. */
ol.tabs:not(.file-tabs) {
  > span.caption {
    bottom: 0;
    direction: ltr;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    user-select: none;
    -webkit-app-region: drag;

    span.logo {
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      vertical-align: top;

      svg {
        fill: var(--theme-logo-icon);
        width: 1rem;
        height: 1rem;
        margin-top: 0.5rem;
        vertical-align: top;
      }

      + span.name {
        display: inline-block;
        margin-left: 0.25rem;
        height: 2rem;
        line-height: 2rem;
        font: var(--theme-logo-font);
        color: var(--theme-logo-text);
        vertical-align: top;
      }
    }

    + li.tab {
      margin-left: 0.5rem;
    }
  }

  &:not(.example) {
    background: var(--theme-tab-background);
    display: block;
    flex: 0 1 auto;

    &::after {
      box-shadow: var(--theme-tab-shadow);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }

  height: 2rem;
  margin: 0;
  min-height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;

  > li.tab {
    background: var(--theme-tab-background);
    position: relative;
    display: inline-block;
    height:  1.75rem;
    line-height: 1.5rem;
    margin-left: -0.05rem;
    margin-top: 0.05rem;
    top: 0.03125rem;
    -webkit-app-region: no-drag;

    &.group {
      margin-left: 0.5rem;

      & + .group {
        margin-left: 0;
      }
    }

    > button ,
    > a {
      color: var(--theme-tab-inactive-text);
      background: var(--theme-tab-inactive-background);
      border: var(--theme-tab-inactive-border);
      cursor: pointer;
      outline: none;
      display: inline-block;
      padding: 0 0.5rem;
      font: 400 1rem Lato;
      height: 1.7rem;
      line-height: 1.6rem;
      min-width: 4rem;
      text-align: center;
      text-decoration: none;

      svg,
      img {
        width: 1rem;
        height: 1rem;
      }
    }

    &:first-child {
      margin-left: 0.5rem;
    }

    &.active {
      background: var(--theme-tab-active-background);
      box-shadow: var(--theme-tab-active-shadow);
      height: 1.75rem;
      margin-top: 0.25rem;
      z-index: 9;

      &::after {
        content: '';
        position: absolute;
        top: 0.125rem;
        left: 0.125rem;
        height: 0.25rem;
        width: calc(100% - 0.25rem);
        background: var(--theme-tab-active-accent);
      }

      > button,
      > a {
        color: var(--theme-tab-active-text);
        border: var(--theme-tab-active-border);
        height: 1.75rem;
        line-height: 1.875rem;
      }
    }
  }

  &.side {
    background-color: var(--theme-tab-side-background);
    height: auto;
    overflow: visible;
    z-index: 99;

    > li.tab {
      display: block;
      width: 1.875rem;
      height: auto;
      background: none;
      margin-top: 0;
      margin-left: 0.25rem;

      > button,
      > a {
        min-width: auto;
        width: 1.875rem;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;

        img {
          margin-bottom: 0.5rem;
        }

        span.caption {
          left: 0.0625rem;
          position: relative;
          width: 1.5rem;

          // Write sideways
          writing-mode: vertical-lr;

          // Flip
          transform: scale(-1, -1);
        }
      }

      &:first-child {
        margin-top: 0.5rem;
      }

      &.active {
        left: -0.125rem;
        margin-left: 0.25rem;

        &::after {
          width: 0.125rem;
          height: calc(100% - 0.25rem);
        }

        > button,
        > a {
          width: 2rem;
          border-right: 0.125rem solid white;

          img {
            margin-left: 0.125rem;
          }

          span.caption {
            left: 0.25rem;
          }
        }
      }
    }

    &::after {
      display: none;
      content: '';
    }
  }
}

// Nested tabs
ol.tab-panels ol.tabs:not(.side):not(.file-tabs):not(.example) {
  background: var(--theme-tab-nested-background);
  box-shadow: var(--theme-tab-nested-shadow);
}

// Tab panels
ol.tab-panels {
  background: var(--theme-panel-background);
  display: block;
  flex: 1 1 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;

  > li.tab-panel {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 0.25rem;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.active {
      z-index: auto;
    }
  }

  &.side {
    > li.tab-panel {
      padding-top: 0;
      padding-left: 0.25rem;
    }
  }
}
