/* The ELF viewer. */
.elf-editor {
  .elf-editor-container {
    h3.type,
    h3.name {
      &::before {
        border-left: none;
        border-right: 0.4rem solid var(--theme-file-pane-directory-arrow);
        margin-left: 0.4rem;
        margin-right: 0.25rem;
      }

      &.open {
        &::before {
          transform: rotate(-90deg);
        }
      }
    }

    ul.items {
      border-left: none;
      border-right: 0.375rem solid #ddd;
      margin-left: 0;
      margin-right: 0.25rem;

      li.item {
        span > span {
          &:not(:first-child) {
            margin-left: auto;
            margin-right: 0.25rem;
          }

          &:not(:last-child) {
            margin-left: auto;
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}
