h1
  | Robust Assembler and Web-based Runtime System (RAWRS)

p.image
  svg.dino aria-hidden=:true role=:presentation
    use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#stegosaurus"

== render(:markdown, I18n.t(:"guidance.about.content"), :layout => false)

h2#related-work
  = I18n.t(:"guidance.about.related-work.header")

== render(:markdown, I18n.t(:"guidance.about.related-work.content"), :layout => false)

h2#source-code
  = I18n.t(:"guidance.about.source-code.header")

== render(:markdown, I18n.t(:"guidance.about.source-code.content"), :layout => false)

h2#license
  = I18n.t(:"guidance.about.license.header")

== render(:markdown, I18n.t(:"guidance.about.license.content"), :layout => false)

h2#development
  = I18n.t(:"guidance.about.development.header")

== render(:markdown, I18n.t(:"guidance.about.development.content"), :layout => false)

ul.items
  li
    p
      strong
        = I18n.t(:"guidance.about.development.items.rawrs")
    ul.authors
      li
        a href="https://wilkie.how"
          | wilkie
      li
        | Luís Oliveira
      li
        | jason
      li
        | Austin Oldham
      li
        | Nate Stump
  li
    p
      strong
        | TinyEmu RISC-V System Emulator
    ul.authors
      li
        | Fabrice Bellard
      li
        | wilkie (#{I18n.t(:"guidance.about.common.modifications")})
  li
    p
      strong
        | GNU Binutils
    ul.authors.binutils-authors
      li
        = I18n.t(:"guidance.about.common.various")

h2#localization
  = I18n.t(:"guidance.about.localization.header")

== render(:markdown, I18n.t(:"guidance.about.localization.content"), :layout => false)

ul.items
  li
    p
      strong
        | English
    ul.authors
      li
        | wilkie

h2#artwork
  = I18n.t(:"guidance.about.artwork.header")

== render(:markdown, I18n.t(:"guidance.about.artwork.content"), :layout => false)

ul.items
  li
    p
      strong
        = I18n.t(:"guidance.about.artwork.items.dinosaurs")
    ul.authors
      li
        span
          a href="https://thenounproject.com/maxicons/"
            | Maxicons
        span
          a href="https://creativecommons.org/licenses/by/3.0/us/legalcode"
            | CCBY
        span
          = I18n.t(:"guidance.about.common.licensed")
  li
    p
      strong
        = I18n.t(:"guidance.about.artwork.items.icon")
    ul.authors
      li
        | wilkie

h2#documentation
  = I18n.t(:"guidance.about.documentation.header")
ul.items
  li
    p
      strong
        = I18n.t(:"guidance.about.documentation.items.general")
    ul.authors
      li
        | wilkie
  li
    p
      strong
        = I18n.t(:"guidance.about.documentation.items.tutorials")
    ul.authors
      li
        | wilkie

h2#open-source
  = I18n.t(:"guidance.about.open-source.header")

== render(:markdown, I18n.t(:"guidance.about.open-source.content"), :layout => false)

ul
  li
    a href="https://www.gnu.org/software/binutils/"
      | GNU Binutils
  li
    a href="https://github.com/riscv/riscv-gnu-toolchain"
      | RISC-V GNU Binutils port
  li
    a href="http://kripken.github.io/emscripten-site/"
      | emscripten
  li
    a href="https://bellard.org/tinyemu/"
      | TinyEmu
  li
    a href="http://sinatrarb.com/"
      | Sinatra
  li
    a href="http://slim-lang.com/"
      | slim
  li
    a href="https://sass-lang.com/"
      | Sass
  li
    a href="https://github.com/rtomayko/tilt"
      | tilt
  li
    a href="https://git-scm.com/"
      | git
  li
    a href="https://about.gitlab.com/"
      | GitLab
  li
    a href="http://rails-i18n.org/"
      | i18n and rails-i18n
  li
    a href="https://github.com/vmg/redcarpet"
      | Redcarpet
  li
    a href="https://github.com/socketry/rackula"
      | rackula
  li
    a href="https://nodejs.org/en/"
      | node
  li
    a href="https://www.npmjs.com/"
      | npm
  li
    a href="https://webpack.js.org/"
      | webpack
  li
    a href="https://babeljs.io/"
      | babel
  li
    a href="https://github.com/eligrey/FileSaver.js/"
      | FileSaver.js
  li
    a href="https://stuk.github.io/jszip/"
      | JSZip
