h1
  | Usage

p.image
  svg.dino aria-hidden=:true role=:presentation
    use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#spinosaurus"

/ Main Content
== render(:markdown, I18n.t(:"guidance.usage.content"), :layout => false)

h2#edit-tab-documentation
  = I18n.t(:"guidance.usage.edit-tab.header")

div.example-block aria-hidden=:true role=:presentation
  ol.tabs.example
    li.tab.active
      button tabindex='-1'
        = I18n.t(:"edit.tab")

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.content"), :layout => false)

h3#target-selector-documentation
  = I18n.t(:"guidance.usage.edit-tab.targets.header")

div.example-block aria-hidden=:true role=:presentation
  .project-pane.example
    .target-selection
      label
        = I18n.t(:"edit.target")
      select.target-selector tabindex='-1'
        option
          | RISC-V

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.targets.content"), :layout => false)

h3#file-listing-documentation
  = I18n.t(:"guidance.usage.edit-tab.file-listing.header")

div.example-block aria-hidden=:true role=:presentation
  .file-list
    ol
      li.directory.root.open data-selectable=true data-path=Base64.encode64("/") data-type=:directory
        span.info
          svg.group
            use xlink:href="#{@basepath}images/symbol/ui.svg#group"
          span.name
            = I18n.t(:"edit.files.my-projects")
        ol
          li.action data-action=:"new-project"
            span.info
              button tabindex='-1' disabled=:true
                span.name
                  = I18n.t(:"edit.files.actions.new-project")
          li.directory.open data-selectable=true
            span.info
              svg.group
                use xlink:href="#{@basepath}images/symbol/ui.svg#group"
              span.name
                = I18n.t(:"guidance.usage.edit-tab.file-listing.directory")
            ol
              li.file.active
                span.info
                  svg.file.text
                    use xlink:href="#{@basepath}images/symbol/ui.svg#text"
                  span.name
                    | main.c
                  button.actions tabindex='-1' disabled=:true
                    svg
                      use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
                  ul.dropdown-menu role=:menu
                    li.dropdown-menu-option
                      button.action data-action=:rename role=:menuitem disabled=:true tabindex='-1'
                        = I18n.t(:"edit.files.actions.rename")
                    li.dropdown-menu-option
                      button.action data-action=:clone role=:menuitem disabled=:true tabindex='-1'
                        = I18n.t(:"edit.files.actions.copy")
                    li.dropdown-menu-option
                      button.action data-action=:delete role=:menuitem disabled=:true tabindex='-1'
                        = I18n.t(:"edit.files.actions.delete")
                    li.dropdown-menu-option
                      button.action data-action=:download role=:menuitem disabled=:true tabindex='-1'
                        = I18n.t(:"edit.files.actions.download")
      li.directory.root.open data-selectable=true data-path=Base64.encode64("/") data-type=:directory
        span.info
          svg.group
            use xlink:href="#{@basepath}images/symbol/ui.svg#group"
          span.name
            = I18n.t(:"guidance.usage.edit-tab.file-listing.examples")
        ol
          li.file
            span.info
              svg.file.text
                use xlink:href="#{@basepath}images/symbol/ui.svg#text"
              span.name
                | main.s
          li.file
            span.info
              svg.file.text
                use xlink:href="#{@basepath}images/symbol/ui.svg#text"
              span.name
                | const.s

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.file-listing.content"), :layout => false)

h3#new-project-documentation
  = I18n.t(:"guidance.usage.edit-tab.new-project.header")

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.new-project.content"), :layout => false)

h3#copy-from-examples-documentation
  = I18n.t(:"guidance.usage.edit-tab.copy-from-examples.header")

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.copy-from-examples.content"), :layout => false)

h3#file-tabs-documentation
  = I18n.t(:"guidance.usage.edit-tab.file-tabs.header")

.example-block
  .example-block
    .example-block
      ol.tabs.file-tabs.example
        li.tab.file-tab.active.example
          button tabindex='-1' disabled=:true
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#text"
            span.caption
              | main.s
          button.actions aria-expanded="false" aria-haspopup="true" aria-controls="dropdown-" tabindex='-1' disabled=:true
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
            span.caption
              = I18n.t(:"common.actions")
        li.tab.file-tab.example
          button tabindex='-1' disabled=:true
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#text"
            span.caption
              | main.s
          button.actions aria-expanded="false" aria-haspopup="true" aria-controls="dropdown-" tabindex='-1' disabled=:true
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
            span.caption
              = I18n.t(:"common.actions")
          ul.dropdown-menu role=:menu
            li.dropdown-menu-option
              button.action data-action=:close role=:menuitem tabindex='-1' disabled=:true
                = I18n.t(:"common.close")

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.file-tabs.content"), :layout => false)

h3#toolbar-documentation
  = I18n.t(:"guidance.usage.edit-tab.toolbar.header")

div.example-block aria-hidden=:true role=:presentation
  == partial(:toolbar, :locals => {:example => true})

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.toolbar.content"), :layout => false)

h3#console-documentation
  = I18n.t(:"guidance.usage.edit-tab.console.header")

== render(:markdown, I18n.t(:"guidance.usage.edit-tab.console.content"), :layout => false)

h2#run-tab-documentation
  = I18n.t(:"guidance.usage.run-tab.header")

div.example-block aria-hidden=:true role=:presentation
  ol.tabs.example
    li.tab.active
      button tabindex='-1'
        = I18n.t(:"run.tab")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.content"), :layout => false)

h3#machine-code-listing-documentation
  = I18n.t(:"guidance.usage.run-tab.machine-code-listing.header")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.machine-code-listing.content"), :layout => false)

/ memory listing
h3#memory-listing-documentation
  = I18n.t(:"guidance.usage.run-tab.memory-listing.header")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.memory-listing.content"), :layout => false)

h3#label-listing-documentation
  = I18n.t(:"guidance.usage.run-tab.label-listing.header")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.label-listing.content"), :layout => false)

h3#register-listing-documentation
  = I18n.t(:"guidance.usage.run-tab.register-listing.header")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.register-listing.content"), :layout => false)

h3#simulator-documentation
  = I18n.t(:"guidance.usage.run-tab.simulator.header")

== render(:markdown, I18n.t(:"guidance.usage.run-tab.simulator.content"), :layout => false)

/ run, pause, step

h2#guidance-tab-documentation
  = I18n.t(:"guidance.usage.guidance-tab.header")

div.example-block aria-hidden=:true role=:presentation
  ol.tabs.example
    li.tab.active
      button tabindex='-1'
        = I18n.t(:"guidance.tab")

== render(:markdown, I18n.t(:"guidance.usage.guidance-tab.content"), :layout => false)

h3#guidance-about-documentation
  = I18n.t(:"guidance.usage.guidance-tab.about.header")

div.example-block aria-hidden=:true role=:presentation
  ol.tabs.example
    li.tab.active
      button tabindex='-1'
        = I18n.t(:"guidance.about.tab")

== render(:markdown, I18n.t(:"guidance.usage.guidance-tab.about.content"), :layout => false)

h3#guidance-usage-documentation
  = I18n.t(:"guidance.usage.guidance-tab.usage.header")

div.example-block aria-hidden=:true role=:presentation
  ol.tabs.example
    li.tab.active
      button tabindex='-1'
        = I18n.t(:"guidance.usage.tab")

== render(:markdown, I18n.t(:"guidance.usage.guidance-tab.usage.content"), :layout => false)
