/* This is the register listing panel. */
.register-file {
    .registers {
        .register {
            > * {
                &:not(:first-child) {
                    border-left: none;
                    border-right: var(--theme-panel-table-border);
                }
            }

            .actions {
                > ul.dropdown-menu {
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}
