h1
  = I18n.t("targets.riscv64.guidance.instructions.tab")

p.image
  svg.dino aria-hidden="true" role="presentation"
    use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#elasmosaurus"

h2#overview
  = I18n.t("targets.riscv64.guidance.instructions.overview")

p
  = "#{I18n.t("targets.riscv64.guidance.instructions.isa")} - "
  a href="https://riscv.org/wp-content/uploads/2017/05/riscv-spec-v2.2.pdf"
    | [pdf]

- instructions = [:add, :addi, :and, :andi, :auipc,
   :beq, :beqz, :bge, :bgeu, :bgez, :bgt, :bgtu, :bgtz, :ble, :bleu, :blez, :blt, :bltz, :bne, :bnez, 
   :div, :divu,
   :ebreak, :ecall,
   :j, :jal, :jalr, :jr,
   :la, :lb, :lbu, :ld, :lh, :lhu, :li, :lui, :lw, :lwu,
   :move, :mul, :mulh, :mulhsu, :mulhu, :mv,
   :neg, :nop, :not,
   :or, :ori,
   :rem, :remu,
   :sb, :sd, :seqz, :sgtz, :sh, :sll, :slli, :slt, :slti, :sltiu, :sltu, :sltz, :snez, :sra, :srai, :srl, :srli, :sub, :sw,
   :xor, :xori]

table#instruction-table
  thead
    tr
      th
        = I18n.t("targets.riscv64.guidance.instructions.table.instruction")
      th
        = I18n.t("targets.riscv64.guidance.instructions.table.full-name")
      th
        = I18n.t("targets.riscv64.guidance.instructions.table.summary")
  tbody
    - instructions.each do |instruction|
      - aliased = instruction
      - if instruction == :move
        - aliased = :mv
      tr.instruction
        td.token
          a href="#instruction-table-#{aliased}"
            code
              = instruction
        td.name data-instruction=instruction
          = I18n.t("targets.riscv64.guidance.instructions.#{aliased}.name")
        td.summary data-instruction=instruction
          == render(:markdown, I18n.t("targets.riscv64.guidance.instructions.#{aliased}.summary"), :layout => false)

- instructions.each do |instruction|
  - if instruction == :move
    - next
  h2.instruction id="instruction-table-#{instruction}"
    code
      = instruction
    = " - "
    = I18n.t("targets.riscv64.guidance.instructions.#{instruction}.name")

  == render(:markdown, I18n.t("targets.riscv64.guidance.instructions.#{instruction}.summary"), :layout => false)

  / Look for an examples listing
  - examples = File.join(File.dirname(__FILE__), "..", "instructions.yml")
  - if File.exist?(examples)
    - examples = YAML.load(File.read(examples))
    - ((examples[instruction.to_s] || {})["examples"] || []).each_with_index do |example, i|
      - markdown = example.rstrip
      == render(:markdown, "```riscv\n#{markdown}\n```", :layout => false)
      == render(:markdown, I18n.t("targets.riscv64.guidance.instructions.#{instruction}.example-#{i}", :default => ""), :layout => false)
