ol.tabs:not(.file-tabs) {
  span.caption {
    + li.tab {
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

  > li.tab {
    &.group {
      margin-left: auto;
      margin-right: 0.5rem;

      & + .group {
        margin-left: auto;
        margin-right: 0;
      }
    }

    &:first-child {
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

  &.side {
    > li.tab {
      margin-left: auto;
      margin-right: 0.25rem;

      > button,
      > a {
        span.caption {
          left: auto;
          right: 0.0625rem;

          // Write sideways
          writing-mode: vertical-rl;

          // Do NOT Flip
          transform: none;
        }
      }

      &.active {
        left: auto;
        right: -0.125rem;
        margin-left: auto;
        margin-right: 0.25rem;

        &::after {
          left: auto;
          right: 0.125rem;
        }

        > button,
        > a {
          border-right: var(--theme-tab-active-border);
          border-left: 0.125rem solid white;

          img {
            margin-left: auto;
            margin-right: 0.125rem;
          }

          span.caption {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}

ol.tab-panels {
  &.side {
    > li.tab-panel {
      padding-left: 0;
      padding-right: 0.25rem;
    }
  }
}
