/* The editor pane has the entire file editing view including file listing. */
.example-block,
.editor-pane {
  &:not(.example-block) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1 1 0.1%;
    overflow: auto;
    margin: 0;
    width: 100%;
  }

  // This is the dinosaur flavor icon for the editors
  > svg.editor-icon {
    display: none;
  }

  // When the icon exists in the editor, it is actually visible
  svg.editor-icon {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: var(--theme-editor-icon);
  }

  // The actual editor view including file tabs
  @import "editor-viewport-pane.scss";
}
