/* The Edit Panel: The different file editors and file tabs and such. */
.example-block,
#edit-panel {
    .top {
        flex-basis: calc(100% - 15.25rem);
        height: calc(100% - 15.25rem);
    }

    .bottom {
        flex: 0 0 15rem;
        height: 15rem;
    }

    // The file listing
    @import "project-pane";

    // The actual editors
    @import "editor-pane.scss";
}
