ol.toolbar {
  &:not(.example) {
    right: auto;
    left: 0;
  }

  span.caption {
    &::after {
      content: '';
      display: inline-block;
      margin-left: 0.375rem;
      margin-right: 0.375rem;
      width: 0px;
      height: 0px;
      border-left: none;
      border-right: 0.375rem solid var(--theme-toolbar-color);
      border-top: 0.25rem solid transparent;
      border-bottom: 0.25rem solid transparent;
    }
  }
}
