template#dialog-confirm
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.confirm.caption")
      button.close
        = I18n.t(:"dialogs.common.close")
    .client
      h2
        = I18n.t(:"dialogs.confirm.message")
      button.button#button-complete-confirm
        = I18n.t(:"dialogs.common.affirm")
      button.button.red#button-cancel-confirm
        = I18n.t(:"dialogs.common.cancel")
