template#dialog-float-explorer
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.float-explorer.caption")
      button.close
        = I18n.t(:"dialogs.common.close")
    .client
      ol.tabs
        li.tab
          button#float-explorer-32 aria-controls=:"float-explorer-32-panel"
            = I18n.t(:"dialogs.float-explorer.header-f32")
        li.tab.active
          button#float-explorer-64 aria-controls=:"float-explorer-64-panel"
            = I18n.t(:"dialogs.float-explorer.header-f64")
      ol.tab-panels
        li.tab-panel#float-explorer-32-panel
          table.float-32
            tbody
              tr
                td.sign data-bit-index="31"
                  label
                    input type=:checkbox
                    span role=:presentation aria-hidden=:true
                - 8.times do |i|
                  td.exponent data-bit-index=(31 - (i + 1)).to_s
                    label
                      input type=:checkbox
                      span role=:presentation aria-hidden=:true
                - 23.times do |i|
                  td.mantissa data-bit-index=(31 - (i + 9)).to_s
                    label
                      input type=:checkbox
                      span role=:presentation aria-hidden=:true
          .legend aria-hidden=:true
            .legend-item
              .box.sign
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.sign")
            .legend-item
              .box.exponent
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.exponent")
            .legend-item
              .box.mantissa
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.mantissa")
          .calculation
            span.sign
              | -1
            span
              | ×
            span.two
              | 2
            span.super.left
              | (
            span.super.exponent
              | 123
            span.super.minus
              | -
            span.super.bias
              | 127
            span.super.right
              | )
            span.denormalized hidden=true aria-hidden=:true
              | ×
            span.two.denormalized hidden=true aria-hidden=:true
              | 2
            span.super.denormalized hidden=true aria-hidden=:true
              | 1
            span
              | ×
            span.leading
              | 1.
            span.mantissa
              | 234
          .normalization
            span.normalized
              = I18n.t(:"dialogs.float-explorer.normalized")
            span.denormalized hidden=true aria-hidden=:true
              = I18n.t(:"dialogs.float-explorer.denormalized")
          h2
            = I18n.t(:"dialogs.float-explorer.calculated-value")
          p.calculated-value
            | 500
          h2
            = I18n.t(:"dialogs.float-explorer.error")
          p.error-value
            | 500
          h2
            = I18n.t(:"dialogs.float-explorer.header-hex")
          input.hex-value value="0xfabc0000"
          h2
            = I18n.t(:"dialogs.float-explorer.header-decimal")
          input.entered-value value="500"
        li.tab-panel.active#float-explorer-64-panel
          table.float-64
            tbody
              tr
                td.sign data-bit-index="63"
                  label
                    input type=:checkbox
                    span role=:presentation aria-hidden=:true
                - 11.times do |i|
                  td.exponent data=i.to_s data-bit-index=(63 - (i + 1)).to_s
                    label
                      input type=:checkbox
                      span role=:presentation aria-hidden=:true
                - 20.times do |i|
                  td.mantissa data-bit-index=(63 - (i + 12)).to_s
                    label
                      input type=:checkbox
                      span role=:presentation aria-hidden=:true
              tr
                - 32.times do |i|
                  td.mantissa data-bit-index=(63 - (i + 32)).to_s
                    label
                      input type=:checkbox
                      span role=:presentation aria-hidden=:true
          .legend aria-hidden=:true
            .legend-item
              .box.sign
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.sign")
            .legend-item
              .box.exponent
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.exponent")
            .legend-item
              .box.mantissa
              span role=:presentation
                = I18n.t(:"dialogs.float-explorer.fields.mantissa")
          .calculation
            span.sign
              | -1
            span
              | ×
            span.two
              | 2
            span.super.left
              | (
            span.super.exponent
              | 123
            span.super.minus
              | -
            span.super.bias
              | 1023
            span.super.right
              | )
            span.denormalized hidden=true aria-hidden=:true
              | ×
            span.two.denormalized hidden=true aria-hidden=:true
              | 2
            span.super.denormalized hidden=true aria-hidden=:true
              | 1
            span
              | ×
            span.leading
              | 1.
            span.mantissa
              | 234
          .normalization
            span.normalized
              = I18n.t(:"dialogs.float-explorer.normalized")
            span.denormalized hidden=true aria-hidden=:true
              = I18n.t(:"dialogs.float-explorer.denormalized")
          h2
            = I18n.t(:"dialogs.float-explorer.calculated-value")
          p.calculated-value
            | 500
          h2
            = I18n.t(:"dialogs.float-explorer.error")
          p.error-value
            | 500
          h2
            = I18n.t(:"dialogs.float-explorer.header-hex")
          input.hex-value value="0xfabc0000"
          h2
            = I18n.t(:"dialogs.float-explorer.header-decimal")
          input.entered-value value="500"
