template#dialog-new-project
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.new-project.caption")
      button.close
        = I18n.t(:"dialogs.common.close")
    .client
      h2
        = I18n.t(:"dialogs.new-project.header")
      input.project-name
      h2
        = I18n.t(:"dialogs.new-project.template")
      template.project-option
        option value=''
      select.project-selector
      button.button#button-complete-new-project disabled=true
        = I18n.t(:"dialogs.new-project.create")
      button.button.red#button-cancel-new-project
        = I18n.t(:"dialogs.common.cancel")
