template#dialog-upload-files
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.upload-files.caption")
      button.close
        = I18n.t(:"dialogs.common.close")
    .client
      input#input-choose-files type=:file multiple=true
      .upload-zone
        table.drop-preview-table
          thead
            tr.drop-preview-header
              th.header-file-name
                = I18n.t(:"dialogs.upload-files.fields.name")
              th.header-file-size
                = I18n.t(:"dialogs.upload-files.fields.size")
          tbody.drop-previews
        label.drop-area for="input-choose-files" aria-label="Select to upload your files" role="button"
          .drop-area-header role=:presentation aria-hidden=:true
            = I18n.t(:"dialogs.upload-files.drag-and-drop")
          .drop-area-caption role=:presentation aria-hidden=:true
            = I18n.t(:"dialogs.upload-files.drag-area")
          span.preview-message hidden=true aria-hidden=:true
            = I18n.t(:"dialogs.upload-files.preview")
      button.button#button-complete-upload disabled=true
        = I18n.t(:"dialogs.upload-files.upload")
      button.button.red#button-cancel-upload
        = I18n.t(:"dialogs.common.cancel")
