.example-block,
.editor-viewport-pane {
  > ol.tabs.file-tabs {
    left: auto;
    right: 0.0625rem;

    li.tab.file-tab {
      border-left: var(--theme-editor-tab-inactive-border);
      border-right: none;

      &.active {
        border-left: var(--theme-editor-tab-active-border);
        border-right: none;
      }

      > button {
        padding-left: 0;
        padding-right: 0.125rem;

        > svg {
          margin-left: 0.125rem;
          margin-right: 0;
        }

        &.actions {
          svg {
            margin: 0;
          }
        }
      }

      > ul.dropdown-menu {
        left: 0;
        right: auto;

        &::before {
          left: 0.25rem;
          right: auto;
        }
      }
    }
  }

  > ol.file-tab-panels.tab-panels {
    > li.file-tab-panel.tab-panel {
      // The different possible editors that can be loaded into file tab-panels
      @import "editors/elf-editor.scss";
    }
  }
}
