/* The Copy File dialog. */
&#dialog-copy-file {
  overflow-x: hidden;
  overflow-y: auto;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 35rem;
  min-width: 20rem;
  max-width: 100%;
  text-align: center;

  h2 {
    text-align: left;
  }

  // Also import the project pane, here.
  @import "../edit/project-pane.scss";

  .file-list {
    height: 20rem;
    margin-top: 0.25rem;
    overflow: auto;
    text-align: left;
    width: 100%;

    ol {
      margin: 0;
    }
  }
}
