/* The target selection dialog. */
&#dialog-target-viewer {
  max-width: 100%;

  .target-carousel {
    height: 10rem;
    max-width: 100%;
    width: 40rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    background: url('../images/noise_black.png');
    margin-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: inset 0 0 0.125rem 0 black;
      pointer-events: none;
    }

    ul.target-carousel-items {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: 0;
      left: 50%;
      transition: 0.5s left;

      li.target {
        display: inline-block;
        list-style: none;
        cursor: pointer;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        position: absolute;
        left: 0;
        top: 0;

        p {
          color: white;
          z-index: 999999;
          position: absolute;
          top: 0;
          display: block;
          width: 1rem;
          height: 1rem;
        }

        img {
          display: inline-block;
          width: 6rem;
          height: 4.5rem;
          position: relative;
          vertical-align: top;
          top: 3.25rem;
          left: 3.25rem;
          object-fit: contain;
          cursor: pointer;
          border-bottom: 0.25rem solid transparent;
          transition: 0.5s top, 0.5s left, 0.5s width, 0.5s height;
        }

        &.next {
          img {
            top: 2rem;
            left: 2rem;
            width: 8rem;
            height: 6rem;
          }
        }

        &:hover:not(.active) {
          img {
            border-bottom-color: #46b1e4;
          }
        }

        &.active {
          img {
            top: 0.5rem;
            left: 0;
            width: 12rem;
            height: 9rem;
          }
        }
      }
    }
  }

  button.right,
  button.left {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: #ccc;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: 6.5rem;
    z-index: 99999;
    transition: 0.2s opacity, 0.2s background;
    border: none;

    &:hover {
      opacity: 1;
      background: white;
    }
  }

  button.left {
    left: 1.5rem;
  }

  button.right {
    right: 1.5rem;
  }

  h2 {
    margin-top: 0;
    width: 40rem;
    max-width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    position: relative;
    border-bottom: 0.25rem double #ddd;

    span.caption {
      position: relative;
      z-index: 9999;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: calc(50% - 0.5rem);
      top: -0.5rem;
      width: 1rem;
      height: 1rem;
      background: white;
      transform: rotate(45deg);
      z-index: 99;
      box-shadow: 0 0 0.125rem 0 black;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 1rem);
      width: 2rem;
      background: white;
      height: 0.75rem;
      z-index: 999;
    }
  }

  .target-details {
    overflow: auto;
    height: 20rem;
    max-width: 100%;
    width: 40rem;
    background: white;
    border-bottom: 0.25rem double #ddd;
    padding-bottom: 1rem;

    h3 {
      margin-bottom: 0;

      img {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
      }

      span.caption {
        margin-left: 1rem;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - 5rem);
        vertical-align: top;
        margin-top: 0.5rem;
        font: 800 1.25rem/1.0rem Lato, sans-serif;
        border-bottom: 0.0625rem solid #888;
        padding-bottom: 0.5rem;
      }
    }

    h4 {
      margin-bottom: 0;

      span.caption {
        margin-left: 4rem;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - 5rem);
        vertical-align: top;
        margin-top: 0.5rem;
        font: 800 1rem/1.0rem Lato, sans-serif;
        border-bottom: 0.0625rem solid #ccc;
        padding-bottom: 0.25rem;
      }
    }

    p {
      margin-left: 4rem;
      box-sizing: border-box;
      display: inline-block;
      width: calc(100% - 5rem);
      margin-top: 0.5rem;
      font: 400 0.875rem/0.875rem Lato, sans-serif;

      &:empty {
        display: none;
      }
    }

    table {
      width: calc(100% - 5rem);
      margin-left: 4rem;

      tr {
        th {
          text-align: left;
          font: 800 0.75rem/1.0rem Lato, sans-serif;
          white-space: nowrap;
        }

        td {
          font: 400 0.75rem/1.0rem Lato, sans-serif;

          &:empty::after {
            content: "N/A";
            color: #aaa;
          }
        }
      }
    }

    table + table {
      border-top: 0.0625rem solid #ccc;
      margin-top: 0.25rem;
      padding-top: 0.25rem;
    }
  }
}
