link rel='icon'       sizes='16x16'   href='#{@basepath}images/icon_16x16.png'
link rel='icon'       sizes='32x32'   href='#{@basepath}images/icon_32x32.png'
link rel='icon'       sizes='48x48'   href='#{@basepath}images/icon_48x48.png'
link rel='icon'       sizes='64x64'   href='#{@basepath}images/icon_64x64.png'
link rel='stylesheet' type='text/css' href='#{@basepath}css/landing.css'
title
  | RAWRS - #{I18n.t(:title)}
