doctype html
html lang="en-US"
  head
    == partial(:"landing/head")
  body
    .landing-content
      == partial(:"landing/header")

      h2
        span.title
          == I18n.t(:"landing.education.header")

      .content
        == render(:markdown, I18n.t(:"landing.education.content"), :layout => false)

        ul.links
          li.link
            a.button.try-it-out href="#{(@basepath.nil? || @basepath == "") ? "/edit" : "#{@basepath}edit"}" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');" target=:_blank
              == I18n.t(:"landing.started.try-it-out")
          li.link
            a.button.downloads href="#{@basepath}downloads" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.started.downloads")
          li.link
            a.button.learn-more href="#{@basepath}learn-more" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.learn-more")

      h2
        span.title
          == I18n.t(:"landing.education.realworld-header")

      .content
        ul.screenshots
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-intermediate-files.png"
            == render(:markdown, I18n.t(:"landing.education.realworld-intermediate-content"), :layout => false)
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-object-files.png"
            == render(:markdown, I18n.t(:"landing.education.realworld-object-files"), :layout => false)
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-elf-editor.png"
            == render(:markdown, I18n.t(:"landing.education.realworld-elf-editor-content"), :layout => false)

      h2
        span.title
          == I18n.t(:"landing.education.debug-header")

      .content
        ul.screenshots
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-disassembly.png"
            == render(:markdown, I18n.t(:"landing.education.debug-disassembly-content"), :layout => false)
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-memory-viewer.png"
            == render(:markdown, I18n.t(:"landing.education.debug-memory-viewer-content"), :layout => false)
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-gdb-debugging.png"
            == render(:markdown, I18n.t(:"landing.education.debug-gdb-content"), :layout => false)
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-floating-point-explorer.png"
            == render(:markdown, I18n.t(:"landing.education.debug-floating-point-content"), :layout => false)

      h2
        span.title
          == I18n.t(:"landing.education.docs-header")

      .content
        ul.screenshots
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-docs-guidance.png"
            .caption
              == render(:markdown, I18n.t(:"landing.education.docs-guidance-content"), :layout => false)
              ul.links
                li.link
                  a.button.try-it-out href="#{@basepath}guidance/riscv64/instructions" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');" target=:_blank
                    == I18n.t(:"landing.education.docs-guidance-try-it-out")
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-editor-popover.png"
            == render(:markdown, I18n.t(:"landing.education.docs-autocomplete-content"), :layout => false)

      h2
        span.title
          == I18n.t(:"landing.education.devices-header")

      .content
        ul.screenshots
          li.screenshot
            .image
              img src="#{@basepath}landing/education/rawrs-video.png"
            == render(:markdown, I18n.t(:"landing.education.devices-video-content"), :layout => false)

      footer
        == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
