doctype html
html lang="en-US"
  head
    == partial(:"landing/head")
  body
    .landing-content
      == partial(:"landing/header")

      h2
        span.title
          == I18n.t(:"landing.overview.header")

      .content
        == render(:markdown, I18n.t(:"landing.overview.content"), :layout => false)

      h2
        span.title
          == I18n.t(:"landing.features.header")

      .content
        == render(:markdown, I18n.t(:"landing.features.content"), :layout => false)

        ul.links
          li.link
            a.button.learn-more href="#{@basepath}learn-more" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.learn-more")
          li.link
            a.button.education href="#{@basepath}education" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.education")

      h2
        span.title
          == I18n.t(:"landing.started.header")

      .content
        == render(:markdown, I18n.t(:"landing.started.content"), :layout => false)

        ul.links
          li.link
            a.button.try-it-out href="#{@basepath}edit" role=:button tabindex="4" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');" target=:_blank
              == I18n.t(:"landing.started.try-it-out")
          li.link
            a.button.downloads href="#{@basepath}downloads" role=:button tabindex="5" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.started.downloads")

      h2
        span.title
          == I18n.t(:"landing.screenshots.header")

      .content
        ul.screenshots
          - Dir["assets/landing/screen*.png"].sort.each do |path|
            li.screenshot
              .image
                img src="#{@basepath}landing/#{File.basename(path)}"
              p
                | This is the caption for the screenshot. It explains what is cool about it.

      footer
        == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
