/* The console panel shows the output steps for a series of processes. */
.output-console {
  ol.output-processes {
    background: #0e0e0e;
    color: #d4d4d4;
    flex: 0 1 auto;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    padding: 0;
    padding-left: 0.25rem;
    list-style: none;

    li.output-process {
      position: relative;

      &::after {
        content: '';
        width: 1rem;
        height: 1rem;
        background: gray;
        border-radius: 50%;
        border: 0.0625rem solid gray;
        position: absolute;
        left: 0.1875rem;
        top: 0.3125rem;
      }

      .status-symbol {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 1rem;

        @keyframes status-pulse {
          0% {
            opacity: 1;
          }

          50% {
            opacity: 0.4;
          }
        }

        .dot {
          display: none;
          position: absolute;
          animation: 0.9s infinite alternate status-pulse;
          animation-delay: 0s;
          width: 0.125rem;
          height: 0.125rem;
          left: 0.25rem;
          top: 50%;
          border-radius: 1rem;
          background-color: #b3b3b3;
        }

        .dot + .dot {
          animation-delay: -0.3s;
          left: 0.5rem;
        }

        .dot + .dot + .dot {
          animation-delay: -0.6s;
          left: 0.75rem;
        }

        // Graphical icon for the status bubble
        svg {
          display: none;
          width: 1.5rem;
          height: 1.5rem;
          left: -0.1875rem;
          top: -0.7rem;
          position: absolute;
        }

        // The graphic for when the item is 'done'
        svg.done {
          fill: #33c033;
        }

        // The graphic for when the item has 'failed'
        svg.failed {
          fill: red;
        }
      }

      > .status-symbol {
        top: 0.8125rem;
        left: 0.1875rem;
      }

      h1.output-process-title {
        border-bottom: var(--theme-console-process-border);
        color: var(--theme-console-process-text);
        margin: 0;
        padding: 0.25rem 0.5rem;
        padding-bottom: 0.3125rem;
        padding-left: 1.75rem;
        font: 400 1rem Lato;
        text-align: left;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          border-left: 0.4rem solid var(--theme-console-process-arrow);
          border-top: 0.25rem solid transparent;
          border-bottom: 0.25rem solid transparent;
          height: 0;
          width: 0;
          display: inline-block;
          margin-right: 0.4rem;
          position: relative;
          top: -0.125rem;
          transition: 0.5s transform;
        }

        &:not(:first-child) {
          margin-top: 0.5rem;
        }

        span.filename {
          padding: 0 0.25rem;
          margin-left: 0.5rem;
          display: inline-block;
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 0.25rem;
          color: #d46acb;
          font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        &:not(.expanded) {
          border-color: transparent;
        }

        &.expanded {
          &::before {
            transform: rotate(90deg);
          }

          & ~ pre:not(:empty),
          & + ol {
            display: block;
          }
        }
      }

      &:not(:last-child) {
        h1.output-process-title.expanded {
          & + ol {
            padding-bottom: 0.25rem;
            border-bottom: 0.0625rem solid #71526e;
          }
        }
      }

      ol.output-process-steps {
        display: none;
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        padding-left: 0.5rem;

        li.output-process-step {
          position: relative;
          padding-left: 1.5rem;

          &::after {
            content: '';
            width: 1rem;
            height: 1rem;
            background: gray;
            border-radius: 50%;
            border: 0.0625rem solid gray;
            position: absolute;
            left: 0;
            top: 0.5rem;
          }

          h2.output-process-step-title {
            color: var(--theme-console-step-text);
            margin: 0;
            padding: 0.25rem 0.375rem;
            font: 400 1rem Lato;
            text-align: left;
            line-height: 1.375rem;
            display: inline-block;
            cursor: pointer;

            &::before {
              content: '';
              border-left: 0.4rem solid var(--theme-console-step-arrow);
              border-top: 0.25rem solid transparent;
              border-bottom: 0.25rem solid transparent;
              height: 0;
              width: 0;
              display: inline-block;
              margin-right: 0.4rem;
              position: relative;
              top: -0.0625rem;
              transition: 0.5s transform;
            }

            &.expanded::before {
              transform: rotate(90deg);
            }

            span.output-filename {
              opacity: 0.5;
              display: inline-block;
              padding: 0 0.25rem;
              margin-left: 0.5rem;
              display: inline-block;
              background-color: rgba(128, 128, 128, 0.25);
              border-radius: 0.25rem;
              border: 0.0625rem solid #888;
              color: #927a90;
              font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
              font-size: 0.75rem;
              line-height: 1rem;

              &:hover {
                background: white;
              }
            }

            & + pre.output-process-step-stdout {
              display: none;
              border-radius: 0.25rem;
            }

            &.expanded + pre.output-process-step-stdout {
              display: block;
            }
          }

          pre.output-process-step-stdout {
            line-height: 1.25rem;
            padding: 0.25rem 0.5rem;
          }

          &[data-status="failed"] {
            &::after {
              background-color: rgba(166, 0, 0, 0.5);
              border-color: red;
            }

            > .status-symbol {
              svg.failed {
                display: inline-block;
              }
            }
          }

          &[data-status="done"] {
            &::after {
              background-color: rgba(80, 100, 80, 0.5);
              border-color: green;
            }

            h2.output-process-step-title {
              span.output-filename {
                opacity: 1;
                color: #46b1e4;
              }
            }

            > .status-symbol {
              svg.done {
                display: inline-block;
              }
            }
          }

          &[data-status="pending"] {
            &::after {
              background-color: rgba(128, 128, 128, 0.5);
              border-color: #888;
            }

            > .status-symbol {
              .dot {
                display: inline-block;
              }
            }
          }
        }
      }

      pre {
        background: var(--theme-console-output-background);
        color: var(--theme-console-output-text);
      }

      pre.output-process-stdout {
        display: none;
        border-radius: 0.25rem;
        margin: 0.5rem;
        margin-left: 0.375rem;
        line-height: 1.25rem;
        padding: 0.25rem 0.5rem;

        &:empty {
          display: none;
        }
      }

      &[data-status="failed"] {
        &::after {
          background-color: rgba(166, 0, 0, 0.5);
          border-color: red;
        }

        svg.failed {
          display: inline-block;
        }
      }

      &[data-status="done"] {
        &::after {
          background-color: rgba(80, 100, 80, 0.5);
          border-color: green;
        }

        h2.output-process-step-title {
          span.output-filename {
            opacity: 1;
            color: #46b1e4;
          }
        }

        svg.done {
          display: inline-block;
        }
      }

      &[data-status="pending"] {
        &::after {
          background-color: rgba(128, 128, 128, 0.5);
          border-color: #888;
        }

        > .status-symbol {
          .dot {
            display: inline-block;
          }
        }
      }
    }
  }
}
