/* This imcludes all the dialog stylesheets. */
dialog.dialog {
  background: var(--theme-dialog-background);
  border: var(--theme-dialog-border);
  box-shadow: var(--theme-dialog-shadow);
  padding: 0;

  &::backdrop {
    backdrop-filter: grayscale(0.5);
    background: rgba(0, 0, 0, 0.25);
  }

  > h1.title {
    border-bottom: var(--theme-dialog-title-border);
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;

    > span.caption {
      font: var(--theme-dialog-title-font);
      border-right: var(--theme-dialog-close-border);
      flex: 1 1 100%;
      padding: 0.25rem 0.5rem;
      text-align: center;
      vertical-align: middle;
    }

    > button.close {
      background: var(--theme-dialog-close-background);
      border: none;
      cursor: pointer;
      flex: 1 1 2rem;
      height: 2rem;
      overflow: hidden;
      position: relative;
      text-indent: -9999px;
      width: 2rem;
      outline: none;

      &:focus {
        outline: none;
      }

      &::after {
        font: var(--theme-dialog-close-font);
        color: var(--theme-dialog-close-text);
        bottom: 0;
        content: '\00D7';
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 0;
        top: 0;
        vertical-align: middle;
      }

      &:hover {
        background: var(--theme-dialog-close-hover-background);

        &::after {
          color: var(--theme-dialog-close-hover-text);
        }
      }
    }
  }

  > .client {
    padding: 0.5rem;

    h2 {
      font: var(--theme-dialog-header-font);
      color: var(--theme-dialog-header-text);
      padding: 0;
      margin: 0;
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  // Confirm dialog
  @import "dialogs/confirm.scss";

  // Copy file dialog
  @import "dialogs/copy-file.scss";

  // Float explorer dialog
  @import "dialogs/float-explorer.scss";

  // New file dialog
  @import "dialogs/new-file.scss";

  // New project dialog
  @import "dialogs/new-project.scss";

  // Target selection dialog
  @import "dialogs/target-viewer.scss";

  // Upload files dialog
  @import "dialogs/upload-files.scss";
}
