// Default color theme
@import "themes/default.scss";

/* Basic page details */
body, html {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  /* Electron overrides */
  > .titlebar {
    position: absolute !important;
    display: inline-block !important;
    top: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    left: auto !important;
    width: auto !important;
    -webkit-app-region: no-drag !important;

    > * {
      display: none !important;
      -webkit-app-region: no-drag !important;
    }

    > .window-controls-container {
      width: auto !important;
      right: 0 !important;
      display: inline-block !important;
      top: 0 !important;
    }
  }

  > .container-after-titlebar {
    inset: 0 !important;

    > ol.toolbar {
      margin-right: calc(46px * 3 + 6px) !important;
    }
  }
}

/* 4k support */
@media (min-width: 2561px) {
  /* If we did our job, this is all we need to scale everything! */
  body, html {
    font-size: 24px;
  }
}

/* Making sure hidden things are hidden */
template, *[hidden] {
  display: none !important;
}

/* User Interface Common Elements */

// Buttons
@import "ui/button.scss";

// Tabs
@import "ui/tabs.scss";

// Key Bindings
@import "ui/key-bindings.scss";

// Separator (draggable dividers)
@import "ui/separator.scss";

/* Top panels */
.top {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  overflow: hidden;
  line-height: 1.2;

  .container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    margin: 0;
    min-width: 20rem;
    text-align: center;
    position: relative;
    background: var(--theme-container-background);

    > svg.tracks {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      fill: var(--theme-container-icon);
    }

    ol.tabs.side {
      position: static;
      flex: 1 1 0%;
    }

    ol.tab-panels {
      height: 100%;

      .tab-panel {
        .output-container {
          display: flex;
          flex: 1 0 auto;
          flex-direction: row;
          margin: 0;
          text-align: center;
          background: var(--theme-container-background);
          position: relative;

          > svg.tracks {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            fill: var(--theme-container-icon);
          }

          .output {
            position: relative;
            text-align: left;
            margin: 0 auto;
            display: inline-block;
            border-left: var(--theme-container-border);
            border-right: var(--theme-container-border);
            outline: var(--theme-terminal-border);
            width: 640px;
            height: 480px;

            .run-panel.terminal-container {
              width: 640px;
              height: 480px;
              font: var(--theme-terminal-font);
              background: var(--theme-terminal-background);
            }
          }
        }
      }

      li.tab-panel {
        .run-panel {
          > canvas {
            width: 640px;
            height: 480px;
            background: black;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
          }
        }
      }

      div.disconnected {
        position: absolute;
        left: 0;
        right: 0.0625rem;
        top: 0;
        bottom: 0;
        background: rgba(96, 41, 41, 0.5);
        z-index: 9;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;

        img {
          flex: 1;
          width: 40%;
          height: 40%;
          animation: 1s infinite alternate disconnect-pulse;

          @keyframes disconnect-pulse {
            0% {
              opacity: 0.5;
            }
            100% {
              opacity: 1.0;
            }
          }
        }
      }
    }
  }
}

/* Bottom panels */
.bottom {
  display: flex;
  flex-direction: row;
  flex: 1 1 0.1%;

  .left {
    display: flex;
    flex: 1 1 0.1%;
    flex-direction: column;
    overflow: auto;
    min-width: 20rem;
  }

  .right {
    background: #fff;
    display: flex;
    flex: 0 1 17rem;
    flex-direction: column;
    position: relative;
    width: 17rem;
    min-width: 17rem;
  }

  @import "console-panel.scss";
}

// All the dialog stylesheets.
@import "dialogs.scss";

// The toolbar at the top of the page.
@import "toolbar.scss";

// The edit panel.
@import "edit/edit-panel.scss";

// The run panel
@import "run/run-panel.scss";

// Right-to-left site support via styling overrides
html[dir="rtl"] {
  @import "rtl/ui/tabs.scss";
  @import "rtl/edit/edit-panel.scss";
  @import "rtl/run/run-panel.scss";
  @import "rtl/toolbar.scss";

  .bottom {
    @import "rtl/console-panel.scss";
  }
}
