/ This view contains the file tabs and the space for file editing.

/ This can be used by editors to show the dinosaur behind them
svg.editor-icon hidden=true aria-hidden="true" role=:presentation
  use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#stegosaurus"

/ The specific HTML for each editor
template.editor.text-editor
  == partial(:"edit/editors/text-editor")
template.editor.hex-editor
  == partial(:"edit/editors/hex-editor")
template.editor.elf-editor
  == partial(:"edit/editors/elf-editor")

/ File tabs
ol#file-tabs.file-tabs.tabs
  template.file-tab
    li.file-tab.tab.active
      / The typical file tab button
      button
        svg
          use xlink:href="#{@basepath}images/symbol/ui.svg#text"
        span.caption

      / File tab dropdown button
      button.actions aria-expanded="false" aria-haspopup="true" aria-controls="dropdown-"
        svg
          use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        span.caption data-i18n-key=:"common.actions"
          = I18n.t(:"common.actions")

      / File tab dropdown menu
      ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
        li.dropdown-menu-option
          button.action data-action=:close role=:menuitem data-i18n-key=:"common.close"
            = I18n.t(:"common.close")

/ File panels which open editors for files
ol.tab-panels.file-tab-panels
  template.file-tab-panel.tab-panel
    li.file-tab-panel.tab-panel.active
