.top.editor-pane data-separator=:"output-separator"
  .project-pane data-separator=:"editor-separator"
    == partial(:"edit/project-pane")
  .separator.vertical#editor-separator
  .editor-viewport-pane#editors
    == partial(:"edit/editor-viewport-pane")
.separator.horizontal#output-separator
.bottom
  .left
    ol.tabs
      li.tab.active
        button aria-controls=:"edit-console-panel"
          span data-i18n-key=:"console.tab"
            = I18n.t(:"console.tab")
    ol.tab-panels
      li.tab-panel.active.output-console#edit-console-panel
        == partial(:"console-panel")
