/* This is the register listing panel. */
.register-file {
    flex: 0 1 17rem;
    width: 17rem;
    background: var(--theme-panel-background);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 17rem;

    .registers {
        box-shadow: var(--theme-panel-shadow);
        padding: 0;
        margin: 0;
        margin-top: 0.25rem;
        height: 100%;
        width:  100%;
        overflow: auto;
        border-collapse: collapse;
        display: block;

        .register {
            padding: 0.25rem;
            color: var(--theme-panel-label-text);
            font: var(--theme-panel-label-font);
            font-weight: normal;
            font-variant-ligatures: none;

            > * {
                border-bottom: var(--theme-panel-table-border);
                padding: 0.25rem 0.4rem;

                &:not(:first-child) {
                    border-left: var(--theme-panel-table-border);
                }

                text-align: center;
            }

            &.updated {
                > .value > button,
                > * {
                    color: var(--theme-panel-data-updated-text);
                    font-weight: bold;
                }
            }

            &:last-child {
                border: none;
            }

            .value {
                width: 100%;
                color: var(--theme-panel-data-text);

                button {
                    font: var(--theme-panel-data-font);
                    margin: 0;
                    padding: 0;
                    outline: none;
                    border: none;
                    background: transparent;
                    text-align: center;
                    color: var(--theme-panel-data-text);
                }
            }

            .edit {
                width: 100%;

                .input {
                    background: transparent;
                    border: none;
                    font: 1rem/normal 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                    margin: 0;
                    outline: none;
                    padding: 0;
                    text-align: center;
                    width: 100%;
                }
            }

            .actions {
                line-height: 0;
                margin: 0;
                padding: 0;
                position: relative;

                > button.actions {
                    cursor: pointer;
                    background: none;
                    border: 0.0625rem solid #ffffff;
                    border-radius: 50%;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:active {
                        outline: none;
                    }

                    > svg,
                    > img {
                        width: 1rem;
                        height: 1rem;
                        line-height: 1rem;
                        padding: 0;
                        margin: 0;
                        vertical-align: middle;

                        &.active ,
                        &.hover {
                            display: none;
                        }
                    }
                }

                > ul.dropdown-menu {
                    list-style: none;
                    position: absolute;
                    z-index: 999;
                    padding: 0;
                    margin: 0;
                    right: 0;
                    outline: 0;
                    background: white;
                    border: 0.0625rem solid #333;

                    > li {
                        padding: 0;
                        margin: 0;
                        white-space: nowrap;

                        > button {
                            width: 100%;
                            text-align: left;
                            background: none;
                            border: 0;
                            padding: 0.25rem;
                            margin: 0;
                            cursor: pointer;

                            &:focus,
                            &:hover:not([disabled]) {
                                background: #46b1e4;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
