/ This is part hex-editor, part its own thing
.elf-editor
  ol.tabs.side
    li.tab.active
      button aria-controls='elf-editor-%id%-hex-editor'
        span.caption data-i18n-key=:"editors.elf-editor.hex.tab"
          = I18n.t(:"editors.elf-editor.hex.tab")
    li.tab
      button aria-controls='elf-editor-%id%-header'
        span.caption data-i18n-key=:"editors.elf-editor.header.tab"
          = I18n.t(:"editors.elf-editor.header.tab")
    li.tab
      button aria-controls='elf-editor-%id%-segments'
        span.caption data-i18n-key=:"editors.elf-editor.segments.tab"
          = I18n.t(:"editors.elf-editor.segments.tab")
    li.tab
      button aria-controls='elf-editor-%id%-sections'
        span.caption data-i18n-key=:"editors.elf-editor.sections.tab"
          = I18n.t(:"editors.elf-editor.sections.tab")
  ol.tab-panels.side
    li.tab-panel.active id='elf-editor-%id%-hex-editor'
      .hex-container
        == partial(:"edit/editors/hex-editor")
    li.tab-panel id='elf-editor-%id%-header'
      .elf-editor-container.header-container.editor-content
        h2 data-i18n-key=:"editors.elf-editor.header.header"
          = I18n.t(:"editors.elf-editor.header.header")

        ul.items
          - [:magic, :elfVersion, :type, :bits, :endian, :abi, :abiVersion, :machine, :entry, :phoff, :phentsize, :phnum, :shoff, :shentsize, :shnum, :flags, :ehsize, :shstrndx].each do |key|
            li.item
              h3 data-i18n-key=:"editors.elf-editor.header.fields.#{key}"
                = I18n.t(:"editors.elf-editor.header.fields.#{key}")
              span.elf-editor-header-field data-key=key
    li.tab-panel id='elf-editor-%id%-segments'
      .elf-editor-container.segments-container.editor-content
        h2 data-i18n-key=:"editors.elf-editor.segments.header"
          = I18n.t(:"editors.elf-editor.segments.header")

        template.segment
          li.segment
            h3.type
              button aria-expanded=:false aria-controls=:"elf-editor-%id%-segment-%index%" data-i18n-key=:"editors.elf-editor.segments.no-name"
                = I18n.t(:"editors.elf-editor.segments.no-name")

            ul.items id='elf-editor-%id%-segment-%index%'
              - [:type, :flags, :offset, :vaddr, :paddr, :filesize, :memsize, :align].each do |key|
                li.item
                  h4 data-i18n-key=:"editors.elf-editor.segments.fields.#{key}"
                    = I18n.t(:"editors.elf-editor.segments.fields.#{key}")
                  span.elf-editor-segment-field data-key=key

        ol.segments
        p.empty data-i18n-key=:"editors.elf-editor.segments.empty"
          = I18n.t(:"editors.elf-editor.segments.empty")
    li.tab-panel id='elf-editor-%id%-sections'
      .elf-editor-container.sections-container.editor-content
        h2 data-i18n-key=:"editors.elf-editor.sections.header"
          = I18n.t(:"editors.elf-editor.sections.header")

        template.section
          li.section
            h3.name.no-name
              button aria-expanded=:false aria-controls=:"elf-editor-%id%-section-%index%" data-i18n-key=:"editors.elf-editor.sections.no-name"
                = I18n.t(:"editors.elf-editor.sections.no-name")

            ul.items id='elf-editor-%id%-section-%index%'
              - [:type, :flags, :addr, :offset, :size, :link, :info, :addralign, :entsize].each do |key|
                li.item
                  h4 data-i18n-key=:"editors.elf-editor.sections.fields.#{key}"
                    = I18n.t(:"editors.elf-editor.sections.fields.#{key}")
                  span.elf-editor-section-field data-key=key
        ol.sections
        p.empty data-i18n-key=:"editors.elf-editor.sections.empty"
          = I18n.t(:"editors.elf-editor.sections.empty")
