/ We mimic an Ace Editor for the hex editor pane
.hex-editor
  .hex-editor-fake-region
    textarea.hex-editor-fake-textarea
  textarea.hex-editor-data-textarea
  textarea.hex-editor-ascii-textarea
  pre.hex-editor.ace-monokai.ace_dark.ace_editor
    .hex-editor-gutter.ace_gutter
      .ace_layer.ace_gutter-layer.ace_folding-enabled
    .hex-editor-viewport.ace_scroller
      .hex-editor-data.ace_content
        .ace_layer.ace_text-layer
        .ace_layer.ace_cursor-layer.ace_hidden-cursors
          .ace_cursor
      .hex-editor-ascii.ace_content
        .ace_layer.ace_text-layer
        .ace_layer.ace_cursor-layer.ace_hidden-cursors
          .ace_cursor
    .hex-editor-scrollbar.ace_scrollbar.ace_scrollbar-v
      .ace_scrollbar-inner
