/* The ELF viewer. */
.elf-editor {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;

  .elf-editor-container {
    ol {
      list-style: none;
      padding: 0;

      + p.empty {
        display: none;
      }

      &:empty + p.empty {
        display: block;
        font-style: italic;
        opacity: 0.5;
      }

      li {
        h3.no-name {
          font-weight: normal;
          font-style: italic;
          opacity: 0.5;
        }
      }
    }

    h3.type,
    h3.name {
      font-weight: normal;
      font-family: inconsolata, monospace;

      &::before {
        content: '';
        border-left: 0.4rem solid var(--theme-file-pane-directory-arrow);
        border-top: 0.25rem solid transparent;
        border-bottom: 0.25rem solid transparent;
        height: 0;
        width: 0;
        display: inline-block;
        margin-right: 0.4rem;
        margin-left: 0.25rem;
        position: relative;
        transition: 0.5s transform;
      }

      > button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        font: inherit;
        margin: 0;
        padding: 0;
      }

      + ul.items {
        display: none;
      }

      &.open {
        &::before {
          transform: rotate(90deg);
        }

        + ul.items {
          display: table;
        }
      }
    }

    ul.items {
      border-left: 0.375rem solid #ddd;
      display: table;
      margin: 0;
      margin-left: 0.25rem;
      padding: 0;

      li.item {
        display: table-row;

        h3,
        h4 {
          display: table-cell;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        h3 + *,
        h4 + * {
          display: table-cell;
        }

        span.value {
          font-family: inconsolata, monospace;
        }

        span > span {
          &:not(:first-child) {
            margin-left: 0.25rem;
          }

          &:not(:last-child) {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }

  .hex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: var(--theme-editor-background);
    color: var(--theme-editor-text);
  }

  .hex-container h2 {
    color: var(--theme-editor-text);
  }
}
