/* The Hex Editor. */
.hex-editor {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.hex-editor-gutter .ace_gutter-layer {
  position: absolute;
}

.hex-editor-ascii {
  position: absolute;
}
